---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Food for Bot</title>
  <link href="https://ender672.github.io/"/>
  <link href="https://ender672.github.io/feed.xml" rel="self"/>
  <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>https://ender672.github.io/</id>
  {%- for post in collections.post | reverse %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="https://ender672.github.io{{ post.url }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>https://ender672.github.io{{ post.url }}</id>
    <summary>{{ post.data.description }}</summary>
  </entry>
  {%- endfor %}
</feed>
