<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or "Food for Bot" }}</title>
</head>
<body>
  <header>
    <a href="/">Food for Bot</a>
  </header>
  {{ content | safe }}
</body>
</html>
